.colorBtn{ 
     background-color: yellow; 
     color: black; 
     width: 400px;
     border-radius: 8px;
     border-style: none;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 

.colorDiv{
    height: 400px;
    width:400px;
    margin-top: 100px;
   margin-left: 37%;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
}